
    <form action="">
       <div class="field">
  <div class="file is-centered is-boxed has-name is-outlined">
    <label class="file-label">
      <input class="file-input" type="file" name="resume">
      <span class="file-cta">
        <span class="file-icon">
          <i class="fas fa-upload"></i>
        </span>
        <span class="file-label">
          Upload File
        </span>
      </span>
      <span class="file-name"> ...
      </span>
    </label>
  </div>
</div>
            <p class="control has-text-centered">
                <a class="button is-info is-outlined">
                    Submit
                </a>
            </p>

    </form>