{% extends "layout.html" %}
{% block content %}

    <section class="hero ">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">
                    Topsis
                </h1>
                <h2 class="subtitle">
                    Técnica para Ordem de Preferência por Semelhança com a Solução Ideal
                </h2>
            </div>
        </div>
    </section>

    <div class="tile is-ancestor">
        <div class="tile is-4 is-vertical is-parent">
            <div class="tile is-child box">
                <p class="title">Modelo Layout Entrada</p>
                <div class="field">
                    <pre><code># Custo é (1) or Beneficio é 0 #Remover essa linha
nome,custo,consumo,conforto,motor
pesos,0.3,0.05,0.6,0.05
custo_beneficio,1,0,1,0
uno,15,6,25000,7
ka,12,7 ,35000,7
gol,10,9,55000,8</code></pre></div>
                    <div class="field field has-addons has-addons-centered ">
                      <p class="control ">
                        <button class="button is-info is-outlined">
                          Download Model
                        </button>
                      </p>
                    </div>
            </div>

            <div class="tile is-child box">
                <p class="title">Rode seu modelo aqui</p>
                <form method="post" action="/calcula"  enctype="multipart/form-data">
                     <div class="field">
                        <div class="file is-boxed  is-centered">
                          <label class="file-label">
                            <input class="file-input " type="file" name="file">
                            <span class="file-cta">
                              <span class="file-icon">
                                <i class="fas fa-upload"></i>
                              </span>
                              <span class="file-label">
                                Choose a file…
                              </span>
                            </span>
                              <span class="file-name ">...</span>
                          </label>
                        </div>
                     </div>
                    <div class="field field has-addons has-addons-centered ">
                      <p class="control ">
                        <input type="submit" class="button is-info is-outlined" >
                      </p>
                    </div>
                </form>
            </div>
        </div>
        <div class="tile is-parent">
            <div class="tile is-child box">
                <p class="title">O que é o Topsis</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam semper diam at erat pulvinar, at
                    pulvinar felis blandit. Vestibulum volutpat tellus diam, consequat gravida libero rhoncus ut. Morbi
                    maximus, leo sit amet vehicula eleifend, nunc dui porta orci, quis semper odio felis ut quam.</p>
                <p>Suspendisse varius ligula in molestie lacinia. Maecenas varius eget ligula a sagittis. Pellentesque
                    interdum, nisl nec interdum maximus, augue diam porttitor lorem, et sollicitudin felis neque sit
                    amet erat. Maecenas imperdiet felis nisi, fringilla luctus felis hendrerit sit amet. Aenean vitae
                    gravida diam, finibus dignissim turpis. Sed eget varius ligula, at volutpat tortor.</p>
                <p>Integer sollicitudin, tortor a mattis commodo, velit urna rhoncus erat, vitae congue lectus dolor
                    consequat libero. Donec leo ligula, maximus et pellentesque sed, gravida a metus. Cras ullamcorper a
                    nunc ac porta. Aliquam ut aliquet lacus, quis faucibus libero. Quisque non semper leo.</p>
            </div>
        </div>
    </div>

{% endblock %}