<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Portal da Decisão</title>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/bulma.min.css') }}">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/app.css') }}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css">
</head>
<body>
<nav class="navbar is-info" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item" href="https://bulma.io">
            Portal da Decisão
        </a>

        <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false"
           data-target="navbarBasicExample">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>

    <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start">
            <a href="/" class="navbar-item">
                Home
            </a>

            <a class="navbar-item">
                Documentation
            </a>
        </div>

        <div class="navbar-end">
            <div class="navbar-item is-hidden-touch is-hidden-desktop-only">
                    <span class="icon">
                      <a class="fab fa-gitlab fa-2x"></a>
                    </span>
            </div>
        </div>
    </div>
</nav>

<div class="container is-is-widescreen">

    {% block content %}
    {% endblock %}

</div>


<footer class="footer">
    <div class="content has-text-centered">
        <p>
            <strong>Portal da Decisão</strong> by <a href="https://www.linkedin.com/in/nathanmartins1/">Nathan Martins
            Cunha</a> <i class="far fa-grin-beam"></i>
        </p>
    </div>

</footer>

</body>
<script type="text/javascript" src="{{ url_for('static', filename='js/bulmajs/bulma.js') }}"></script>
<script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
</html>