{% extends "layout.html" %}

{% block content %}

    <div class="container is-is-widescreen">
     <section class="hero ">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">
                    Topsis
                </h1>
                <h2 class="subtitle">
                    Resultados
                </h2>
            </div>
        </div>
    </section>
<div class="tile is-ancestor">
    <div class="tile is-parent">
    <article class="tile is-child notification ">
      <div class="content">
        <p class="title">Tabela</p>
        <p class="subtitle">With even more content</p>
        <div class="content">
            {{ topsis_table| safe}}
        </div>
      </div>
    </article>
  </div>
  <div class="tile is-parent">
    <article class="tile is-child notification ">
      <div class="content">
        <p class="title">Gráficos</p>
        <p class="subtitle">With even more content</p>
        <div class="content">
            <embed type="image/svg+xml" src= {{ chart|safe }} />
        </div>
      </div>
    </article>
  </div>
</div>
</div>
{% endblock %}